In [ ]:
from house import House

house_1 = House(35, 15, 16)

house_2 = House(50, 25, 86)

In [ ]:
house_1.clean

In [ ]:
house_1.uncleanHouse()

In [ ]:
house_2.clean

In [ ]:
from coordinate import Coordinate


a = Coordinate(5, 10)

b = Coordinate(0, 0)

round(a.distance(b), 2)

In [ ]:
# Implementing __str__ method

print(a)

In [ ]:
from clock import Clock


clock = Clock('5:30')
clock.print_time()

In [1]:
from fractions import Fraction


one_Half = Fraction(1, 2)

two_Thirds = Fraction(2, 3)

print(one_Half)

print(two_Thirds)

< 1/2 >
< 2/3 >

In [2]:
# Get the Numerator

one_Half.getNum()

1

In [3]:
# Get the Denominator

one_Half.getDenom()

2

In [4]:
# Adding two instances

new = one_Half + two_Thirds

print(new)

< 7/6 >

In [5]:
# Subtracting two instances

new_2 = one_Half - two_Thirds

print(new_2)

< 1/6 >

In [2]:
# Convert method

one_Half.convert()

0.5

In [1]:
from integerSet import Int_Set


m = Int_Set()

print(m)

{}

In [2]:
m.insert(3)

In [3]:
m.insert(10)

In [4]:
m.insert(10)

In [5]:
print(m)

{3,10}

In [6]:
m.member(3)

True

In [7]:
m.remove(3)

In [8]:
print(m)

{10}

In [10]:
m.insert(100)

In [11]:
print(m)

{10,100}

In [1]:
from coordinate import Coordinate


a = Coordinate(4, 4)

print(a.getX())

print(a.getY())

# Lets check equality

print(a.getX() == a.getY())

4
4
True

In [2]:
# Using repr

eval(repr(a))

Coordinate(4,4)

In [6]:
def intersect(self, other):
    result = []
    for i in self:
        if i in other:
            if i not in result:
                result.append(i)

            else:
                continue
            
    return result


intersect([10,100,300], [1,2,3,4,5])

[]

In [1]:
from integerSet import Int_Set

# Initializing an instance of the class

a = Int_Set()

a.insert(3)

In [2]:
a.insert(2)

a.insert(1)

a.insert(4)

In [3]:
print(a)

{1,2,3,4}

In [4]:
b = Int_Set()

In [5]:
b.insert(10)

b.insert(1)

b.insert(30)

b.insert(40)

In [6]:
print(b)

{1,10,30,40}

In [7]:
a.vals

[1, 2, 3, 4]

In [8]:
b.vals

[1, 10, 30, 40]

In [9]:
len(a)

4

In [10]:
b.__len__()

4

In [11]:
c = Int_Set()

c.insert([100, 200, 300])

print(c.vals)

[[100, 200, 300]]

In [13]:
d = a.intersect(b)

In [14]:
d.vals

[1]

In [117]:
import string

a = string.ascii_lowercase

b = string.ascii_uppercase

c = (a+b)

c_shift = (a+b)

empty_Dict = {}

for i in c:
    empty_Dict.setdefault(i, i)

p_c = empty_Dict.copy()

print(p_c)

{'a': 'a', 'b': 'b', 'c': 'c', 'd': 'd', 'e': 'e', 'f': 'f', 'g': 'g', 'h': 'h', 'i': 'i', 'j': 'j', 'k': 'k', 'l': 'l', 'm': 'm', 'n': 'n', 'o': 'o', 'p': 'p', 'q': 'q', 'r': 'r', 's': 's', 't': 't', 'u': 'u', 'v': 'v', 'w': 'w', 'x': 'x', 'y': 'y', 'z': 'z', 'A': 'A', 'B': 'B', 'C': 'C', 'D': 'D', 'E': 'E', 'F': 'F', 'G': 'G', 'H': 'H', 'I': 'I', 'J': 'J', 'K': 'K', 'L': 'L', 'M': 'M', 'N': 'N', 'O': 'O', 'P': 'P', 'Q': 'Q', 'R': 'R', 'S': 'S', 'T': 'T', 'U': 'U', 'V': 'V', 'W': 'W', 'X': 'X', 'Y': 'Y', 'Z': 'Z'}

In [95]:
a[0 : 3 - len(a)]

'abc'

In [66]:
q = sorted(list(a))

print(q)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [38]:
string = ""

for i in "pqr":
     string += empty_Dict[i]

string

'pqr'

In [108]:
def build_shift_dict(shift):
        '''
    Creates a dictionary that can be used to apply a cipher to a letter.
    The dictionary maps every uppercase and lowercase letter to a
    character shifted down the alphabet by the input shift. The dictionary should have 52 keys of all the uppercase letters and all the lowercaseletters only.        
    
    shift (integer): the amount by which to shift every letter of the alphabet. 0 <= shift < 26

Returns: a dictionary mapping a letter (string) to another letter (string). 
        '''
        import string 

        # lowercase_letters
        low_case = list(string.ascii_lowercase)

        R_1 = low_case[shift - len(low_case) : ] + low_case[ 0 : shift - len(low_case)]

        R_1 = list(R_1)

        # All upper case letter
        upper_case = list(string.ascii_uppercase)

        R_2 = upper_case[shift - len(upper_case): ] + upper_case[ 0 : shift - len(upper_case)]

        R_2 = list(R_2)

        map_Dict = dict(zip(low_case+upper_case, R_1+R_2))

        return map_Dict

build_shift_dict(shift = 3)["a"]

'd'

In [6]:
from toy import Toy


t_1 = Toy()

t_2 = Toy()

print(type(t_1))


# They are different instances of the same class
print(t_1 is t_2)

<class 'toy.Toy'>
False

In [8]:
# t_1.add() is of type method

# Toy.add(t_1) is a function

t_1.add([1,2,3,4,5])

t_2.add([2,4,6,8])

In [9]:
t_1.elements

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [2]:
from int_set import Int_Set

m = Int_Set()

m.insert(100)

print(m.member(100))

True

In [3]:
m.insert(99)

print(m)

{99,100}

In [4]:
n = Int_Set()


n.insert(90)

n.insert(100)

n.insert(200)

# The union is an instance of class Int_Set

l = m + n

In [5]:
type(l)

int_set.Int_Set

In [6]:
l._vals

[99, 100, 90, 200]

In [1]:
from toy import Toy


a_1 = Toy()

a_2 = Toy()

a_1.add([10, 20])

a_2.add([12, 24])

a_3 = a_1 + a_2

print("The value of a_3 is", a_3)

print("The length of a_3 is", len(a_3))

The value of a_3 is [10, 20, 12, 24]
The length of a_3 is 4

In [1]:
from person import Person 
import datetime

me = Person("Marvin Nii Lomo")

father = Person("George Adjei")

mother = Person("NanaYaa")

brother = Person("Adusei")

In [2]:
# Lets get the lastnames

print(me.get_last_name())

print(father.get_last_name())

print(mother.get_last_name())

Lomo
Adjei
NanaYaa

In [3]:
# Lets set the birthday

me.set_birthday(datetime.date(1992, 11, 16))

In [4]:
# My Age in days

me.get_age()

10351

In [5]:
# Operator overloading

p_List = [me, father, mother, brother]


for p in p_List:
    print(p)

Marvin Nii Lomo
George Adjei
NanaYaa
Adusei

In [6]:
# Lets mutate the list

p_List.sort()


for p in p_List:
    print(p)

George Adjei
Adusei
Marvin Nii Lomo
NanaYaa

In [1]:
from person import MIT_person

p_1 = MIT_person("Marvin Lomo")

In [5]:
p_2 = MIT_person("Eunice Akyeampong")

p_3 = MIT_person("Selorm Adafia")

p_4 = MIT_person("Ruth Adafia")

In [3]:
print(str(p_1) + "\'s id number is " + str(p_1.get_id_num()))


print(str(p_2) + "\'s id number is " + str(p_2.get_id_num()))


print(str(p_3) + "\'s id number is " + str(p_3.get_id_num()))

Marvin Lomo's id number is 0
Eunice Akyeampong's id number is 1
Selorm Adafia's id number is 2

In [4]:
# Comparing ID's with operator overload

print(p_3 < p_2)

False

In [1]:
from person import *

In [2]:
p_5 = Grad("David Adafia")

p_6 = UG("Samuel Adafia", 2010)

print(p_5, "is a graduate student is", type(p_5) == Grad)

print(p_6, "is an undergraduate student is", type(p_5) == UG)

David Adafia is a graduate student is True
Samuel Adafia is an undergraduate student is False

In [6]:
print(p_5, "is a student is", p_5.is_student())

print(p_6, "is a student is", p_6.is_student())

print(p_3, "is a student is", p_3.is_student())

David Adafia is a student is True
Samuel Adafia is a student is True
Selorm Adafia is a student is False

In [3]:
p_7 = Transfer_student("Irene Adafia", "Keta Secondary Technical")

p_7.get_old_school()

'Keta Secondary Technical'

In [4]:
# Implementing the Grade Book

course = Grades()

course.add_student(Grad("Bernie"))

all_students = course.get_students()

In [5]:
# Add another student

all_students.append(Grad("Liz"))

In [12]:
def grade_report(course):
    """ Assumes course is of type Grades """

    report = ""

    for student in course.get_students():
        tot = 0.00
        num_grades = 0

        for grade in course.get_grades(student):
            tot += grade
            num_grades += 1
        try:
            average = tot/num_grades
            report = f"{report}\n{student}'s mean grade is {average}"
        except ZeroDivisionError:
            report = f"{report}\n{student} has no grades"

    return report

In [1]:
from person import *

ug_1 = UG("Maame Nkansaah", 2022)

ug_2 = UG("Salomey James", 2024)

ug_3 = UG("Ruth Sedem", 2023)

g_1 = Grad("Marvin Lomo")

g_2 = Grad("Bucky F. Dent")

In [2]:
# Grades for course 600

six_hunderd = Grades()


# Adding students
six_hunderd.add_student(ug_1)

six_hunderd.add_student(ug_2)

six_hunderd.add_student(ug_3)

six_hunderd.add_student(g_1)

six_hunderd.add_student(g_2)

In [3]:
# For students on the list students.get_students() --> Add Grade 

for student in six_hunderd.get_students():
    six_hunderd.add_grade(student, 75)

In [4]:
# Adding grade for Grade Students

six_hunderd.add_grade(g_1, 25)

six_hunderd.add_grade(g_2, 100)

In [5]:
print(grade_report(six_hunderd))

Maame Nkansaah's mean grade is 75.0
Salomey James's mean grade is 75.0
Ruth Sedem's mean grade is 75.0
Marvin Lomo's mean grade is 50.0
Bucky F. Dent's mean grade is 87.5

In [5]:
grade_report?

Signature: grade_report(course)
Docstring: Assumes course is of type Grades
File:      ~/Documents/MITx-6.00.1x-Introduction-to-Computer-Science-and-Programming-Using-Python/Unit 5 - Object Oriented Programming/person.py
Type:      function