In [42]:
# Tuples

te = () # An empty tuple

type(te)

tuple

In [44]:
# Tuple Indexing

t = (2, "one", 3)

type(t[1])

str

In [45]:
# Adding tuples

t = t + (5, 6)

type(t)

tuple

In [13]:
# Further tuple indexing

t[0 : 3]    # Slice tuple

(2, 'one', 3)

In [26]:
# Further tuple indexing to produce a new tuple

(t[1],)

('one',)

In [21]:
# Returning more than one variable from a function requires a tuple

def quotient_and_remainder(x,y):

    """ 
    x, y = float or int
    This function returns the quotient and remainder of x/y)
    """
    q = x // y

    r = x % y

    return (q, r)

(quot, rem) = quotient_and_remainder(50, 3)

(quot, rem)

(16, 2)

In [29]:
# Iterating over tuples

def get_data(aTuple):



    num = ()

    words = ()

    for t in aTuple:
        num += (t[0],)
        if t[1] not in words:
            words += (t[1],)
    min_nums = min(num)

    max_nums = max(num)

    unique_words = len(words)
    return (min_nums, max_nums, unique_words)


(small, large, words) = get_data(((1, "mine"),
(3, "yours"),
(5, "ours"),
(7, "mine")))

(small, large, words)

(1, 7, 3)

In [33]:
# Tutorial 

aList = [ "one", 2, "three", 4]

aTuple = ( "five", 6, "seven", 8)

In [35]:
# List Slicing

aList[ : : -1] # Reversing a List

aList[ : : 2]

['one', 'three']

In [34]:
# Tuple Slicing

aTuple[ : : -1]

(8, 'seven', 6, 'five')

In [36]:
# Lists are MUTABLE

aList[1] = "ONE-ONE-ONE"

aList

['one', 'ONE-ONE-ONE', 'three', 4]

In [37]:
# Tuples are IMMUTABLE

aTuple[1] = "SIX-SIX-SIX"

TypeError: 'tuple' object does not support item assignment

In [39]:
c  = [(1, 2, 3), "Week 3", 6.453, [[1, 2, 3, 4], 5], 678, [True, False]]

# In the third element of the list, select the first element then choose the index 2

c[3][0][2]

3

In [41]:
c[3][0]

[1, 2, 3, 4]

In [42]:
c[ : 1 : -2]

[[True, False], [[1, 2, 3, 4], 5]]

In [43]:
# Tutorial: Returning several values from a function: Behind the Scenes

def returnArgsAsTuple(*itemsTuple):

    print(itemsTuple)

returnArgsAsTuple(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [46]:
# Tutorial: Iterating over Lists and Tuples

for animal in ["Zebra", "Lion", "Ant"]:

    print(animal)

Zebra
Lion
Ant

In [47]:
# Tutorial: Iterating over Lists and Tuples

for animal in ("Zebra", "Lion", "Ant"):

    print(animal)

Zebra
Lion
Ant

In [1]:
# Self Check

x = (1, 2, (3, 'John', 4), 'Hi')

x[-1][-1]

'i'

In [2]:
# Self Check

x[0 : 1]

(1,)

In [3]:
# Self Check

x[0 : -1]

(1, 2, (3, 'John', 4))

In [59]:
# Write a procedure called oddTuples, which takes a tuple as input, and returns a new tuple as output, where every other element of the input tuple is copied, starting with the first one. So if test is the tuple ('I', 'am', 'a', 'test', 'tuple'), then evaluating oddTuples on this input would return the tuple ('I', 'a', 'tuple')


def oddTuples(aTup):
    '''
    aTup: a tuple
    
    returns: tuple, every other element of aTup. 
    '''
    tup_length = len(aTup)

    aList = [i for i in range(len(aTup)) if i % 2 == 0]

    result = ()

    for odd in aList:
        result +=  (aTup[odd],) # Only a Tuple if comma is present after indexing

    return result


    


oddTuples(('I', 'am', 'a', 'test', 'tuple'))

('I', 'a', 'tuple')

In [41]:
x = ('I', 'am', 'a', 'test', 'tuple')

t = [i for i in range(len(x)) if i % 2 == 0]

type(x[0],)

str

In [57]:
result = ()

for odd in [0, 1, 3]:
    result += (t[odd],)

result

(2, 'one', 5)

In [53]:
p = () + (t[0],)
p

(2,)

In [68]:
# Lists

aList = [2, 4, 9, 0]

total = 0

for i in aList:
    total += i


print(total)

15

In [69]:
# Append something to the end of a list

aList.append([50000, 10])

aList   # This adds exactly what is specified to the end of the list as typed

[2, 4, 9, 0, [50000, 10]]

In [72]:
# Extending a List

aList_2 = [9, 6, 2]

aList_2.extend([9, 2, 6])

aList_2

[9, 6, 2, 9, 2, 6]

In [73]:
# Deleting an element from a List

del(aList_2[2])

aList_2

[9, 6, 9, 2, 6]

In [74]:
# Removing an element from a list

aList_2.remove(9)   # This removes the first occurrence of 9 from the list

aList_2

[6, 9, 2, 6]

In [75]:
# Using the pop remove and report the last element from the list

aList_2.pop()

6

In [76]:
aList_2

[6, 9, 2]

In [77]:
# Converting a String to a List

s = "sfjnfji"

aList_3 = list(s)

aList_3

['s', 'f', 'j', 'n', 'f', 'j', 'i']

In [87]:
# Splitting strings into a list based on a character

s = "I love Python because its's easy to use"

aList_4 = s.split(" ") # Split the 

aList_5 = "_".join(aList_4) # Join the elements of the aList_4 into a string separated by "_"

aList_5

"I_love_Python_because_its's_easy_to_use"

In [98]:
L = [100, 0, 1, 4, 4, 1, 6, 3, 4]

L.reverse()

L

[4, 3, 6, 1, 4, 4, 1, 0, 100]

In [101]:
cList = [6, 5, 4, 3, 2]
dList = []
for num in cList:
    dList.append(num)

cList is dList

False

In [3]:
# Apply to each

def apply_to_each(aList, afunction):
    """
    Takes a function and applies that to each element in the list
    """
    for i in range(len(aList)):
        aList[i] = afunction(aList[i])
    return aList

apply_to_each([-1, 2 , -3], abs)

[1, 2, 3]

In [4]:
# Apply a list of functions to a number

def apply_Funcs(aList, x):
    """
    Apply a list of functions to a list
    """
    for f in aList:
        print(f(x))

In [5]:
# Generalization of HOPS

map(abs, [-2, -4, -100]) # Produces an iterable so we can walkthrough

In [8]:
# Generalization of HOPS

aList = []

for elt in map(abs, [-2, -4, -100]):
    aList.append(elt)
print(aList)

[2, 4, 100]

In [10]:
# General form of map

aList = []

aList_1 = [12, 3, 40]

aList_2 = [6, 10, 2]


for elt in map(min, aList_1, aList_2):
    """
    Select the minimum of the matching element in the 2 lists
    """
    aList.append(elt)

print(aList)

[6, 3, 2]

In [5]:
def applyToEach(L, f):
    for i in range(len(L)):
        L[i] = f(L[i])


testList = [1, -4, 8, -9]


def add_one(x):
    return x**2

applyToEach(testList, add_one)
print(testList)

[1, 16, 64, 81]

In [7]:
# List comprehension

aList_1 = [i for i in range(15) if i % 2 == 0]

aList_1

[0, 2, 4, 6, 8, 10, 12, 14]

In [8]:
# More on List comprehension

names_Dict = {"Nora" : 56, "Lulu" : 89, "Gino" : 31}


[ value for value in names_Dict.values() if value % 2 == 0 ]

[56]